.footer {
  /* background-color: #01002c; */
  /* background: linear-gradient(135deg, #000632, #012a5a, #014986); */
  /* background-color: #01002c; */
  color: #ffffff;
  padding: 4rem 2rem 2rem;
  font-family: 'Inter', sans-serif;
  border-top: 1px solid white;
}

.footer-container {
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}

.footer-logo-img {
  width: 140px;
  height: auto;
}

.footer-links-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.footer-link {
  color: #e0e0e0;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #ffffff;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.contact-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
  flex-shrink: 0;
}

.contact-link {
  color: #e0e0e0;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.contact-link:hover {
  color: #ffffff;
}

.footer-social-media {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
}

.footer-social-icon {
  font-size: 1.2rem;
  color: #e0e0e0;
  transition: color 0.3s ease;
}

.footer-social-icon:hover {
  color: #ffffff;
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  padding-top: 1.5rem;
  margin-top: 2rem;
  font-size: 0.9rem;
  color: #aaa;
}

.scalable-link {
  color: #e0e0e0;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.scalable-link:hover {
  color: #ffffff;
}



/* Responsive */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-links-list,
  .footer-contact {
    align-items: center;
  }

  .footer-social-media {
    justify-content: center;
  }
}
